/* Üst kısım için GIF arka plan */
.header {
  height: 180px; /* GIF yüksekliği küçültüldü */
 background: url('sarıçiçekler.gif') no-repeat center top;
  background-size: contain; /* GIF kırpılmadan küçültülür */
  background-repeat: no-repeat;
}

/* Genel sayfa ayarları */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  color:  #fb8a01;
  background-color: antiquewhite;
}

/* Container */
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8); /* içerik okunabilir olsun diye yarı saydam arka plan */
   background-color: antiquewhite;
  border-radius: 12px;
  padding: 20px;
}

/* Başlıklar */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #43910e; /* limon sarısı başlık */
}

/* Kart tasarımı */
.card {
  background-color: #f3d360; /* limon sarısı kart */
  color: #43910e;
  padding: 60px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.card .btn{
  background-color: #43910e;
  color: antiquewhite;
}

.card .btn2{
  background-color: #43910e;
  color: antiquewhite;
}

/* Input ve butonlar */
input[type="text"], input[type="file"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border: 1px solid #fdd835;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: antiquewhite;
  color: #333;
  transition: 0.2s;
}

input[type="text"]::placeholder {
  color: #333;
}

input[type="text"]:focus, input[type="file"]:focus {
  border-color: #fbc02d;
}

/* Limon sarısı butonlar */
button {
  background-color: #fdd835;
  color: #333;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #fbc02d;
}

/* Önizleme */
.preview img {
  max-width: 120px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Dosya listesi */
.file-list {
  margin-top: 15px;
}

.file-list ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.file-list li {
  background-color: #fff59d;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  font-size: 14px;
}
